{%-comment-%}========================================================={%-endcomment-%}
{%-comment-%}
 All variables are set using product / variant metafields 

 FOR PRODUCTS:
 fundingcampaign: true = running campaign 
 campaignenddate: when the campaign ends in format of : 
   YEAR-MO-DA HR:MN, i.e., 2020-08-15 22:30
 totalavailableproducts: how many total products you're selling (all variants inclusive)
 goalamounts: defines # of goals and sales amount per goal in comma-separated format: 
   NUM, NUM, NUM, i.e., 100, 250, 500
 goaltext: the text appearing with each goal, for each goal amount in comma-separated format: 
   TEXT, TEXT, TEXT, i.d., to print, to signed, to postcards
 goalTextComplete: the text replacing the % when a goal passes 100%
 campaigninfo: text blob appearing below goals, can contain html, et cetera

 FOR VARIANTS: 
 variantdescription: The extended description appearing in the selection box

 - - - - - - - -

 Metafields can be easily edited without a plugin using the following url structure: 
 
 For products: 
 https://YOURSHOP.myshopify.com/admin/bulk?resource_name=Product&edit=metafields.global.fundingcampaign,metafields.global.campaignenddate,metafields.global.totalavailableproducts,metafields.global.goalamounts,metafields.global.goaltext,metafields.global.campaigninfo

 For variants: 
 https://YOURSHOP.myshopify.com/admin/bulk?resource_name=ProductVariant&edit=metafields.global.variantdescription

{%-endcomment-%}
{%-comment-%}========================================================={%-endcomment-%}

{%-assign debug = false-%} {%comment%} Set to true to output variables to template {%endcomment%}


{%-comment-%}========================================================={%-endcomment-%}
{%-comment-%}Only do this if a campaign is running for this product   {%-endcomment-%}
{%-comment-%}========================================================={%-endcomment-%}
{%- if product.metafields.global.fundingcampaign == "true" -%}

  {%-comment-%}========================================================={%-endcomment-%}
  {%-comment-%} SETUP general                                           {%-endcomment-%}
  {%-comment-%}========================================================={%-endcomment-%}
  {%-assign currentDate    = "now" | date: "%s"-%}
  {%-assign endDate        = product.metafields.global.campaignenddate-%}
  {%-assign daysUntilDone  = endDate | date: "%s" | minus: currentDate | divided_by: 3600 | divided_by: 24 | round  -%}
  {%-assign hoursUntilDone = endDate | date: "%s" | minus: currentDate | divided_by: 3600 -%}

  {%-if debug-%}
    days until done: {{ daysUntilDone }}<br />
    hours: {{ hoursUntilDone }}<br />
  {%-endif%}
  {%-comment-%}========================================================={%-endcomment-%}

  {%-comment-%}========================================================={%-endcomment-%}
  {%-comment-%} SETUP goals                                             {%-endcomment-%}
  {%-comment-%}========================================================={%-endcomment-%}
  {%-assign totalAvail = product.metafields.global.totalavailableproducts-%}

  {%-assign goals       = product.metafields.global.goalamounts | split:','-%}
  {%-assign goalText    = product.metafields.global.goaltext | split:','-%}
  {%-assign goalTextComplete    = product.metafields.global.goaltextcomplete | split:','-%}
  {%-comment-%}========================================================={%-endcomment-%}

  {%-assign count         = 0-%}
  {%-assign totalSold     = 0-%}
  {%-assign totalRevenue  = 0-%}

  {%-if debug-%}
  num of variants: {{ product.variants.size }}<br />
  -------<br />
  {%-endif-%}

  {%-comment-%}========================================================={%-endcomment-%}
  {%-comment-%} TOTAL SOLD, add up each variant                         {%-endcomment-%}
  {%-comment-%}========================================================={%-endcomment-%}
  {%for variant in product.variants-%}
    {%-capture variantSales-%}{{ variant.metafields.global.totalquantity | minus:variant.inventory_quantity }} {%-endcapture%}
    {%-assign totalSold = totalSold | plus:variantSales-%}
    {%-assign variantBucks = variantSales | times:variant.price-%}
    {%-assign totalRevenue = totalRevenue | plus:variantBucks-%}

    {%if debug-%}
      {%-comment-%}{{ variant | json }}{%-endcomment-%}
      Loop count: {{ count }}<br />
      Variant quantity remaining: {{ variant.inventory_quantity }}<br />
      Variant total quant: {{ variant.metafields.global.totalquantity }}<br />
      sold: {{ variantSales }}<br />
      variantBucks: {{ variantBucks }}<br />
      ------ <br />
    {%-endif%}

    {%-assign count = count | plus: 1-%}
  {%-endfor%}
  {%-if debug-%}
    Total Sold: {{ totalSold }}<br />
    Total revenue: {{totalRevenue | money }}
  {%-endif-%}
  {%-comment-%}========================================================={%-endcomment-%}



  {%-comment-%}========================================================={%-endcomment-%}
  {%-comment-%} GENERATE HTML                                           {%-endcomment-%}
  {%-comment-%}========================================================={%-endcomment-%}
  <section class="craigstarter{%if hoursUntilDone <= 0%} campaigndone{%-endif-%}"> 
    <p><span class="totalsold"><strong>{{totalSold}}</span> backers</strong> ({{totalRevenue | money}})</p>
    
    {%-if hoursUntilDone <= 0-%}
      <p>Pre-sale campaign is done!</p>
    {%-else-%}
      <p>
        <strong>
          {%-if hoursUntilDone < 24-%}
            {%-if hoursUntilDone == 1-%}
              {{ hoursUntilDone }} hour
            {%-else-%}
              {{ hoursUntilDone }} hours
            {%-endif-%}
          {%-else-%}
            {%-if daysUntilDone == 1-%}
              {{ daysUntilDone }} day
            {%-else-%}
              {{ daysUntilDone }} days
            {%-endif-%}
          {%endif%}
        </strong> until pre-order campaign ends
      </p>
    {%-endif-%}


    <p>Currently, we are:</p>

    {%-assign gcount = 0-%}
    {%-assign gactive = 0-%}
    {%-assign gpercentcatpure = ""-%}

    {%-for g in goals-%}
      {%-assign gpercent = totalSold | times: 100 | divided_by: g -%}
      
      {%-assign gpercentcatpure = gpercentcatpure | append: gpercent | append: ", " -%}
      
      <div class="g-wrap{% if gpercent < 100 and gactive == gcount %} active {% elsif gactive == gcount and gpercent >= 100 %} complete{% elsif gactive < gcount %} pending{%endif%}">
        <progress max="100" value="0" class="goal-{{ gcount }}">
          <div class="g-meter">
            <span style="width: {{ gpercent }}%;">{% if gactive == gcount and gpercent >= 100 %}<span class="checkmark">Complete!</span>{%endif%}</span>
          </div>
        </progress>

        <div class="g-label">{%- if gpercent >= 100 -%}{{ goalTextComplete[gcount]}}{%- else -%}{{totalSold | times: 100 | divided_by: g }}% {{ goalText[gcount]}}{%- endif -%}</div>
        {%- if gpercent >= 100 -%}{%-assign gactive = gcount | plus:1 -%}{%endif%}
        {%-assign gcount = gcount | plus:1-%}
      </div>
    {%-endfor-%}

    {{product.metafields.global.campaigninfo}}

    <span style="font-size: .8em;">Powered by <a href="https://github.com/cmod/craigstarter">craigstarter</a>.</span>
  </section>

  <script> 
    document.addEventListener("DOMContentLoaded", function(e) {
      {%-assign max       = gcount | minus: 1 -%}
      {%-assign gpercents = gpercentcatpure | split:',' -%}
      {% for counter in (0..max) %}
        document.querySelector("progress.goal-{{counter}}").value = {{ gpercents[counter] }};
      {%endfor%}
      });
      
  </script>
  


  {%-comment-%}========================================================={%-endcomment-%}
  {%-comment-%} Build the Tiers                                         {%-endcomment-%}
  {%-comment-%}========================================================={%-endcomment-%}  
  <h2 class="tiertop">Select your Tier</h2>
    {%-assign vc = 0%}
    {% for variant in product.variants %}
      <div class="tier variant-{{variant.id}}{%if variant.inventory_quantity <= 0%} soldout{%endif%}" {%if variant.inventory_quantity > 0%}onclick="updateTier({{variant.id}})"{%endif%}>
        <h3>{{ variant.title }}{%if variant.inventory_quantity == 0%} (Sold Out){%endif%}</h3>
        <h4>{{ variant.price | money }} {%-if variant.compare_at_price-%}<s class="compared">{{ variant.compare_at_price | money }}</s>{%-endif-%}</h4>
        <p>{{ variant.metafields.global.variantdescription }}</p>
        <p class="remaining">{{ variant.inventory_quantity}} of {{ variant.metafields.global.totalquantity }} remaining</p>
        {%-assign vc = vc | plus: 1-%} 
        <div class="ribbon">Selected</div>
      </div>
    {% endfor %}


    {%-comment-%}========================================================={%-endcomment-%}
    {%-comment-%} our little JS snippet to update / select Tiers          {%-endcomment-%}
    {%-comment-%}========================================================={%-endcomment-%}
    <script>
      function updateTier(variantId) {
        console.log(variantId);
        $('#ProductSelect-product-template option').removeAttr('selected').filter('[value='+variantId+']').prop('selected', true);
        $('.tier').removeClass('active');
        $('.variant-'+variantId).addClass('active');
      }
    </script>

{%-endif-%}
